.space-invader {
    /* Modify size here: */
    --block-size:30px;
    margin-left: 40px;
 
    box-shadow: 0 0 0 var(--block-size) #333,
    0 var(--block-size) 0 var(--block-size) #333,
    calc(var(--block-size) * -2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
    calc(var(--block-size) * 2.5) calc(var(--block-size) * 1.5) 0 calc(var(--block-size) * .5) #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -2) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * -1) 0 0 #333,
    calc(var(--block-size) * -4) 0 0 0 #333,
    calc(var(--block-size) * -3) 0 0 0 #333,
    calc(var(--block-size) * 3) 0 0 0 #333,
    calc(var(--block-size) * 4) 0 0 0 #333,
    calc(var(--block-size) * -5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 4) var(--block-size) 0 0 #333,
    calc(var(--block-size) * 5) var(--block-size) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 2) 0 0 #333,
    calc(var(--block-size) * -5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 3) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * 5) calc(var(--block-size) * 3) 0 0 #333,
    calc(var(--block-size) * -2) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * -1) calc(var(--block-size) * 4) 0 0 #333,
    var(--block-size) calc(var(--block-size) * 4) 0 0 #333,
    calc(var(--block-size) * 2) calc(var(--block-size) * 4) 0 0 #333;
    background: #333;
    width: var(--block-size);
    height: var(--block-size);
    overflow: hidden;
  }